#contact {
    text-align: center;
}

body {
    font-family: 'Mulish', sans-serif;
}

#banner img{
    width: 100%;
    object-fit: cover;
    height: 300px;
}

label {
    display: block;
    padding-top: 20px;
    padding-bottom: 8px;
    color: #888;
    font-family: 'Mulish', sans-serif;
}

legend {
    font-weight: bold;
    font-size: 1.25em;
    padding-top: 16px;
}

input, textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
}

#form {
    margin: 0 auto;
    width: 70%;
}

.cust-info {
    padding: 8px;
}

textarea, .cust-info {
    width: 100%;
}

select {
    width: 100%;
    padding: 8px;
}

.map {
    width: 100%;
    height: 300px;
    border: 4px solid #B88E2F;
}

.checkbox {
    display: flex;
}

.column {
    float: left;
    margin: 24px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.left {
    width: 50%;
    text-align: center;
}

.right {
    width: 36%;
}

.reset {
    color: #B88E2F;
    background-color: #fff;
    padding: 16px 24px;
    width: 50%;
    border: 2px solid #B88E2F;
    font-family: 'Mulish', sans-serif;
}

.button {
    width: 50%;
}