.faqs {
    margin: 0 auto;
    width: 70%;
}

.faqs h2 {
    margin-top: 100px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.accordion {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
    transition: 1s;
    margin: 20px 20px 0 20px;
    border-bottom: 1px solid #dbcbb6;
    font-family: 'Mulish', sans-serif;
}

.active, .accordion:hover {
    background-color: #fff8ef; 
}
 
.panel {
    margin: 0 20px;
    display: none;
    overflow: hidden;
    background-color: #fff8ef;
    width: 100%;
}

.panel p {
    padding: 0 20px;
}