.media {
    margin-top: 100px;
}

.media h2 {
    text-align: center;
}

.row {
    display: flex;
    margin: 60px auto 0 auto;
    width: 80%;
}

.column {
    width: 50%;
    margin: 0 20px;
}

.column p {
    padding: 40px 0;
}

.column img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.video-poster {
    height: 600px;
    width: 100%;
    object-fit: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    grid-gap: 24px;
    width: 70%;
    margin: auto;
}

.audio img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#music-sample h2 {
    text-align: center;
    padding-top: 100px;
}

audio {
    margin-top: 20px;
}