/* CSS Reset */
body, header, a, nav, main, footer, img, h1, h4, ul, label, legend, fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
    font-family: 'Mulish', sans-serif;
}

main {
    clear: left;
}

/* Style rule for font-sizes */
h1 {
    font-size: 2.5em;
}

h4 {
    font-size: 1.5em;
}

p {
    line-height: 160%;
    font-family: 'Mulish', sans-serif;
}

/* Style rule for box sizing */
* {
    box-sizing: border-box;
  }

/* Style rule for images */
img, video {
	max-width: 100%;
    display: block;
}

video {
    margin: 0 auto;
}

header {
    width: 25%;
	float: left;
	padding-bottom: 0;
	margin: 16px;
}
header img {
    width: 70%;
    height: auto;
}

/* Desktop Viewport: Styles rules for nav area */
nav {
	text-align: center;
	float: right;
	width: 70%;
	margin: 1em 0;
}

nav ul {
	text-align: right;
	list-style-type:none;
	margin: 0;
	text-align: center;
	float: right;
}

nav li {
	border: none;
	display: inline-block;
	font-size: 1em;
	font-family: 'Mulish', sans-serif;
    font-weight: 300;
}

nav li a {
	display: block;
	color: #1A1A1A;
	margin: 0 1em;
    padding: 0.5em;
	text-decoration: none;
}

.active {
    font-weight: bold;
    border-bottom: 2px solid #B88E2F;
    color: #B88E2F;
}

#hero img {
    width: 100%;
    height: 640px;
    object-fit: cover;
}

.hero_content {
    background-color: #FFF3E3;
	position: absolute;
	bottom: 20%;
    right: 50px;
	color: #9f4444;
	width: 36%;
    padding: 3em;
    border-radius: 8px;
}

.hero_content h1 {
    color: #B88E2F;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
}

.hero_content p {
    color: #1A1A1A;
    font-family: 'Mulish', sans-serif;
    line-height: 160%;
    font-weight: 400;
    margin-top: 20px;
}

/* Style rules for button */
.button {
    background-color: #B88E2F;
    color: #fff;
    padding: 16px 32px;
    border: none;
    font-family: 'Mulish', sans-serif;
    margin-top: 20px;
}

footer {
    background-color: #FFF3E3;
    padding: 24px;
    text-align: center;
    margin-top: 40px;
}

footer p {
    line-height: 12px;
    font-size: 0.95em;
    font-weight: 300;
}

footer a {
    text-decoration: none;
    color: #000;
}