.schedule {
    margin-top: 100px;
}

.schedule p {
    width: 70%;
    text-align: center;
    margin: 40px auto;
}

table {
    border: 1px solid #fff;
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 2%;
}

th, td {
    border: 1px solid #ccc;
    padding: 2% 1%;
}

th {
    background-color: #fff;
    color: #000;
    font-size: 1.15em;
    text-align: justify;
}

tr:nth-child(odd) {
    background-color: #f4f4f4;
}

tr:hover {
    background-color: #F7EFDE;
}